@font-face {
  font-family: "Saira Stencil One";
  src: url("../fonts/SairaStencilOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Saira Stencil One", sans-serif;
}
